/* I figured we would do this in Grid? However I'm open to changing it to something else. I feel Grid is easier to move things around and to control where we want to put things. 

I'm starting out with the Mobile first design, probably the way he wants us to do it anyway.
yeah I really think mobile first design only applies when you are designing it, its kind of a pain when implementing.

I found a PDF that has the most popular phones and their viewports. So we can go off of that for creating the mobile design. Its called "MG_PopularScreenResolutions_Graph-3.pdf".

Bill pay will be ommited for now, I have no idea how we can really implement that in a meaningful way. 
*/

@font-face {
    font-family: plexreg;
    src: url(../fonts/plexreg.ttf);
}

@font-face {
    font-family: plexmed;
    src: url(../fonts/plexmed.ttf);
}

@font-face {
    font-family: plexbold;
    src: url(../fonts/plexbold.ttf);
}

@font-face {
    font-family: plexmedi;
    src: url(../fonts/plexmedi.ttf);
}

/* Body -------------------------------------------- */

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #000; 
}

/* #head {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / span 2;
    color: #000;
    background-color: #fff;
}

#head img {
    background-size: contain;
    height: 100px;
    margin-top: 30px;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
} */

#nav { 
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 40% 60%;
    /* margin-top: 50px; */
    overflow: hidden;
}

#nav #logo {
    background-size: contain;
    height: 100px;
    margin: 30px;
    grid-column: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 80%;
}

.sticky img {
    display: none;
}

#menu {
    grid-column: 2;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px;
    background-color: rgba(0, 0, 0, 1);
    font-family: plexbold;
    font-size: 1.5em;
    justify-items: center;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #fff;
    justify-items: center;
    align-items: center;
}

li a:hover { background-color: #ed1c24; }

/* li.active a { color: rgb(19, 161, 10); } */

#hero {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    background-image: url('../images/house2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 400px;
    /* Don't know how to to implement this picture yet.... work in progress... */
}

#hero #heroPic {
    grid-column: 2;
    grid-row: 2;
    background-image: url("../images/vanhero.png");
    background-repeat: no-repeat;
    background-size: 500px;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
    align-self: end;
}

#hero p {
    font-size: 1.5em;
    margin: 20px;
    padding-right: 20px;
    align-self: center;
    justify-self: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-width: 1px;
    font-family: plexmedi;
    font-size: 40px;
}

#phone {
    grid-column: 1 / span 2;
    font-size: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ed1c24;
    padding: 80px;
}

#phone p {
    grid-column: 1;
    color: white;
    font-family: plexreg, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

#phone #p2 {
    font-size: 1.5em;
}

#p3 a {
    font-size: 40px;
    text-decoration: none;
    color: inherit;
}

#phone #secureMessage {
    display: flex;
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    align-self: flex-start;
    text-decoration: none;
    text-align: center;
    color: #000;
    border: 2px solid white;
    background-color: #fff;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    width: 250px;
    height: 75px;
}

#phone #secureMessage p {
    color: #000;
    align-self: center;
    justify-self: flex-end;
    margin: 0;
    margin-left: 25px;
}

#phone button {
    /* grid-column: 2;
    grid-row: 1 / span 2; */
    width: 250px;
    height: 75px;
    /* justify-self: center;
    align-self: center; */
    border-radius: 50px;
    border: none;
    background-color: #fff;
    

}

#body {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 150px)repeat(4, 1fr);
    background-color: black;
    color: white;
}

#body ul {
    list-style-type: square;
    list-style-position: inside;
}

#body h2 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    padding: 5px;
    margin-left: 95px;
    margin-top: 80px;
    font-family: plexmed, sans-serif;
}

#body div {
    color: black;
    background-color: white;
    width: 80%;
    height: 300px;
    margin: 20px auto 30px auto;
    /* margin-bottom: 30px; */
}


#InstallDiv {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}

#body #installations {
    grid-column: 1;
    grid-row: 1;
    font-size: 24px;
    margin-bottom: 105px;
    /* margin-left: 100px; */
    font-family: plexreg, sans-serif;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}

#body #picture1 {
    grid-column: 2;
    grid-row: 1;
    height: 300px;
}

#body #installs {
    grid-column: 1;
    grid-row: 1;
    font-family: plexreg, sans-serif;
    margin-top: 30px;
    margin-left: 100px;
    justify-self: center;
    align-self: center;
}

#RemodelDiv {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
    
}

#body #remodel {
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
    /* margin-left: 100px;
    margin-top: 20px; */
    margin-bottom: 125px;
    font-family: plexreg, sans-serif;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}

#body #remodels {
    grid-column: 2;
    grid-row: 1;
    /* margin-top: 20px; */
    font-family: plexreg, sans-serif;
    /* margin-top: 50px; */
    margin-left: 15px;
    justify-self: center;
    align-self: center;
}

#tubfaucet {
    grid-column: 1;
    grid-row: 1;
    height: 300px;
    margin: auto;
}

#RepairDiv {
    grid-column: 1/3;
    grid-row: 4;
    display: grid;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}

#body #reps {
    grid-row: 1;
    grid-column: 1;
    font-size: 24px;
    /* margin-left: 50px;
    margin-top: 20px; */
    font-family: plexreg, sans-serif;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
    margin-bottom: 125px;
}

#body #repairs {
    grid-column: 1;
    grid-row: 1;
    font-family: plexreg, sans-serif;
    /* margin-top: 50px;
    margin-left: 50px; */
    justify-self: center;
    align-self: center;
    margin-right: 127px;
}

#body #wrenchpic {
    grid-column: 2;
    grid-row: 1;
    height: 300px;
    margin: auto;
}

#CommercialDiv {
    grid-column: 1/3;
    grid-row: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}

#body #ComRepair {
    grid-row: 1;
    grid-column: 2;
    font-size: 24px;
    /* margin-left: 50px; */
    /* margin-top: 20px; */
    font-family: plexreg, sans-serif;
    text-decoration: underline;
    align-self: center;
    justify-self: center;
    margin-bottom: 225px;
}

#body #commercial {
    grid-row: 1;
    grid-column: 2;
    font-family: plexreg, sans-serif;
    /* margin-top: 50px; */
    margin-left: 50px;
    align-self: center;
    justify-self: center;
    margin-bottom: 130px;
}

#nobpic {
    grid-row: 1;
    grid-column: 1;
    height: 300px;
    margin: auto;
    margin-bottom: 150px;
}

/*


#body h2 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    padding: 5px;
    margin-left: 95px;
    margin-top: 80px;
    font-family: plexmed, sans-serif;
}

#body #installations {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.1em;
    margin-left: 100px;
    font-family: plexreg, sans-serif;
}

#body ul.services {
    list-style-type: circle;
    font-size: 1em;
    text-align: left;
    margin-left: 100px
}

#body #installs {
    grid-column: 1;
    grid-row: 2;
    
    font-family: plexreg, sans-serif;
}

#body #reps {
    grid-column: 1;
    grid-row: 4;
    margin-left: 100px;
}

#body #repairs {
    grid-column: 1;
    grid-row: 5;
    margin-left: 100px;
}

#body #picture1 {
    grid-column: 2;
    grid-row: 2 / span 2;
    background-image: url("../images/picture2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    margin: 20px;
}

#body #picture2 {
    grid-column: 1;
    grid-row: 4 / span 2;
    background-image: url("../images/picture3.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 10px;
}

#body #remodel {
    grid-column: 2;
    grid-row: 4;
}

#body #remodels {
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
}

#body #ComRepair {
    grid-column: 2;
    grid-row: 5;
}

#body #commercial {
    grid-column: 2;
    grid-row: 5;
    justify-self: center;
    align-self: flex-start;
    margin-top: 20px;
}

*/

#aboutus {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, minmax(100px, auto));
    background-color: #ed1c24;
}

#aboutus h2 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    padding: 5px;
    margin-left: 100px;
    margin-top: 80px;
    color: white;
    font-family: plexmed, sans-serif;
}

#aboutus p {
    grid-column: 1/3;
    grid-row: 2 ;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    margin-left: 100px;
    width: 70%;
    align-self: center;
    color: white;
    font-family: plexreg, sans-serif;
}

#aboutus #picture3 {
    display: none;
    grid-column: 1;
    grid-row: 2 / span 2;
    background-image: url("../images/picture4.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 15px;
}

#contact {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto)) 5px;
    color: #000;
    background-color: #fff;
}

#contact h2.conH2 {
    font-size: 1.8em;
    margin-left: 100px;
    margin-top: 80px;
    font-family: plexmed, sans-serif;
}

#contact #cont {
    grid-column: 1;
    grid-row: 1;
}


#contact p {
    grid-row: 2;
    text-align: left;
    margin: 40px 0 40px 100px;
    width: 40%;
    font-size: 1.3em;
    font-family: plexreg, sans-serif;
}

#contact button {
    grid-column: 2;
    grid-row: 2;
    width: 150px;
    height: 45px;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #000;
}

#contact form {
    grid-column: 1 / span 2;
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, minmax(50px, auto));
}

form #name1 {
    grid-row: 1;
    font-size: 1.3em;
}

input[type=text] {
    background-color: rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-left: 85px;
    height: 40px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
    padding: 5px;
    font-size: 1.2em;
}

form #email1 {
    grid-column: 1;
    grid-row: 3;
    font-size: 1.3em;
    justify-self: center;
    align-self: center;
}

input[type=email] {
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-left: 85px;
    height: 40px;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
    padding: 5px;
    font-size: 1.2em;
}

form #cell {
    grid-column: 1;
    grid-row: 5;
    font-size: 1.3em;
    justify-self: center;
    align-self: center;
}

input[type=tel] {
    grid-row: 3;
    background-color: rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-left: 85px;
    height: 40px;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
    padding: 5px;
    font-size: 1.2em;
}

/* form #message1 {
    grid-column: 1;
    grid-row: 7;
    font-size: 1.3em;
    justify-self: center;
    align-self: center;
} */

form textarea {
    grid-row: 4;
    height: 130px;
    width: 75%;
    margin-left: 85px;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
    padding: 5px;
    font-size: 1.2em;
}

input[type=submit] {
    grid-row: 5;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 30px;
    justify-self: end;
    align-self: flex-end;
    font-family: plexreg, sans-serif;
    border-radius: 15px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    margin: 5px 13px 5px 5px;
}

#footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer img {
    height: 50px;
    margin: 30px;
}

#footer p {
    color: white;
    grid-column: 2;
    justify-self: end;
    align-self: center;
    margin-top: 10px;
    margin-right: 10px; 
    font-family: plexreg, sans-serif;
}

@media only screen and (max-width: 912px) {
    #wrapper {
        width: 100%;
    }

    .sticky {
        width: 100%;
    }

    #tubfaucet {
        height: 200px;
    }

    input[type=text] {
        width: 75%;
        margin-left: 100px;
    }

    input[type=email] {
        width: 75%;
        margin-left: 100px;
    }

    input[type=tel] {
        width: 75%;
        margin-left: 100px;
    }

    form textarea {
        width: 75%;
        margin-left: 100px;
    }

    input[type=submit] {
        margin: 5px;
    }

}

@media only screen and (max-width: 712px) {

    #wrapper {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(100px, auto);
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        text-align: center;
        grid-auto-flow: row;
        width: 100%;
    }

    #head {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / span 2;
        color: #000;
        background-color: #fff;
    }

   #head img {
       margin: auto;
       margin-top: 20px;
       margin-bottom: 20px;
   }

    #head h1 {
        grid-column: 1; 
        grid-row: 1;
        font-size: 2em;
        justify-self: center;
        align-self: center;
        text-align: left;
    }

    #nav { grid-column: 1 / span 2; }

    #menu {
        list-style-type: none;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px;
        background-color: rgba(0, 0, 0, 1);
        font-size: 1.5em;
        justify-items: center;
        align-items: center;
    }

    li a {
        text-decoration: none;
        color: #fff;
        justify-items: center;
        align-items: center;
        padding: 20px;
    }

    li a:hover { background-color: #ed1c24; }

    /* li.active a { color: rgb(19, 161, 10); } */

    #hero {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #fff;
    }

    #hero #heroPic {
        grid-column: 1;
        grid-row: 2;
        background-image: url("../images/vanhero.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 10px 10px;
    }

    #hero p {
        font-size: 1.5em;
        margin: 5px;
        align-self: center;
        justify-self: center;
        color: #000;
    }

    #phone {
        grid-column: 1 / span 2;
        font-size: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #ed1c24;
        padding: 50px;
    }

    #phone p {
        grid-column: 1;
    }

    #phone #p2 {
        font-size: 1.5em;
    }

    #phone #p3 {
        font-size: 1.5em;
    }

    #phone a {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: center;
    }

    #phone button {
        width: 150px;
        height: 45px;
        border-radius: 50px;
        border: none;
        background-color: #fff;
    }

    #phone #secureMessage {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        align-self: center;
    }

    #body {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, minmax(100px, auto) ) 10px;
        grid-row-gap: 20px;
        background-color: #000;
    }

    #body h2 {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.8em;
        padding: 5px;
        justify-self: center;
        align-self: center;
    }

    #body #installations {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.1em;
    }

    #body ul.services {
        list-style-type: square;
        font-size: 1em;
        text-align: left;
    }
    
    #body #installs {
        grid-column: 1;
        grid-row: 2;
    }

    #body #reps {
        grid-column: 2;
        grid-row: 3;
        margin-top: 50px;
    }

    #body #repairs {
        grid-column: 2;
        grid-row: 3;
        justify-self: center;
        margin-top: 110px;
    }

    #body #wrenchpic {
        height: 200px;
    }

    #body #picture1 {
        grid-column: 2;
        grid-row: 2 / span 2;
        background-image: url("../images/picture2.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 20px;
    }

    #body #picture2 {
        grid-column: 1;
        grid-row: 4 / span 2;
        background-image: url("../images/picture3.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 10px;
    }

    #body #remodel {
        grid-column: 1;
        grid-row: 4;
        margin-top: 40px;
    }

    #body #remodels {
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
        margin-top: 80px;
    }

    #body #ComRepair {
        grid-column: 2;
        grid-row: 5;
    }

    #body #commercial {
        grid-column: 2;
        grid-row: 5;
        justify-self: center;
        align-self: flex-start;
        margin-top: 50px;
    }
    
    #tubfaucet {
        grid-column: 2;
        grid-row: 4;
        margin: 0;
        height: 150px;
        justify-self: center;
        align-self: center;
    }

    #nobpic {
        grid-column: 1;
        grid-row: 5;
        height: 300px;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    #aboutus {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(100px, auto));
        background-color: #ed1c24;
    }

    #aboutus h2 {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.8em;
        padding: 5px;
        justify-self: start;
        align-self: center;
    }

    #aboutus p {
        grid-column: 1;
        grid-row: 2 ;
        font-size: 1em;
        padding: 5px;
        margin: 5px;
        justify-self: center;
        align-self: center;
    }

    #aboutus #pictureofclient {
        grid-column: 1;
        grid-row: 2 / span 2;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: contain;
        height: 150px;
        margin: 15px;
    }

    #contact {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, minmax(100px, auto)) 15px;;
        color: #000;
        background-color: #fff;
    }

    #contact h2.conH2 {
        font-size: 1.8em;
        margin: 5px;
        justify-self: center;
        align-self: center;
    }

    #contact #cont {
        grid-column: 1;
        grid-row: 1;
    }

    #contact #bill {
        grid-column: 2;
        grid-row: 1;
    }

    #contact p {
        grid-column: span 2;
        grid-row: 2;
        text-align: left;
        margin: 4px;
        width: 50%;
        justify-self: center;
        align-self: center;
    }

    #contact button {
        grid-column: 2;
        grid-row: 2;
        width: 150px;
        height: 45px;
        justify-self: center;
        align-self: center;
        border-radius: 50px;
        border: none;
        color: #fff;
        background-color: #000;
    }

    #contact form {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, minmax(50px, auto));
    }

    /* form #name1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    input[type=text] {
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 40px;
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }

    /* form #email1 {
        grid-column: 1;
        grid-row: 3;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    input[type=email] {
        grid-column: 1 / span 2;
        grid-row: 2;
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 40px;
        justify-self: center;
        align-self: center;
    }

    /* form #cell {
        grid-column: 1;
        grid-row: 5;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    input[type=tel] {
        grid-column: 1 / span 2;
        grid-row: 3;
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 40px;
        justify-self: center;
        align-self: center;
    }

    /* form #message1 {
        grid-column: 1;
        grid-row: 7;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    form textarea {
        grid-column: 1 / span 2;
        grid-row: 4;
        height: 130px;
        width: 80%;
        margin: 8px;
        justify-self: center;
        align-self: center;
    }

    input[type=submit] {
        grid-column: 2;
        grid-row: 5;
        background-color: rgba(0, 0, 0, 0.1);
        width: 30%;
        justify-self: end;
        align-self: flex-end;
    }

    #footer {
        grid-column: 1 / span 2;
    }

}

@media only screen and (max-width: 360px) {

    #wrapper {
        display: block;
        margin: 0;
    }
    
    #menu {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    #menu li#about {
        display: none;
    }

    #hero {
        display: block;
    }

    #hero p {
        margin: 0;
        padding: 5px;
    }

    #hero #heroPic {
        margin: 0 0 0 20px;
        padding: 5px 5px 5px 10px;
    }

    #phone {
        display: block;
        padding: 25px;
    }

    #body {
        display: block;
    }
    
    #body ul.services {
        list-style-type: none;
    }

    #body div {
        margin: auto;
    }

    #body h2 {
        margin-top: 0;
        margin-left: 0;
    }

    #body #installations {
        margin: 0;
    }

    #body #installs {
        margin-top: 5px;
        margin-left: 50px;
    }

    #body #picture1 {
        height: 150px;
    }

    #InstallDiv {
        display: block;
    }

    #body #remodel {
        margin: 0;
    }

    #body #remodels {
        width: 50%;
        margin-top: 10px;
        margin-left: 100px;
    }

    #tubfaucet {
        margin: 20px;
    }

    #RemodelDiv {
        display: block;
    }

    #body #reps {
        margin: auto;
        width: 50%;
    }

    #body #repairs {
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 0;
    }

    #body #wrenchpic {
        margin: 20px;
        height: 150px;
    }

    #RepairDiv {
        display: block;
    }

    #body #ComRepair {
        margin: 0;
    }

    #body #commercial {
        margin-top: 10px;
        margin-bottom: 0;
    }

    #nobpic {
        margin: 20px;
        height: 150px;
    }

    #CommercialDiv {
        display: block;
        margin: 0;
    }

    #aboutus {
        display: block;
    }

    #aboutus h2 {
        margin: 0;
    }

    #aboutus p {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #aboutus #pictureofclient {
        margin: 0;
    }

    #contact {
        display: block;
    }

    #contact #cont {
        margin: 0;
        padding: 5px;
    }

    #contact p {
        width: 95%;
        margin: 0;
        padding: 10px;
        font-size: 1.2em;
    }

    input[type=text] {
        width: 90%;
        margin: 3px;
    }

    input[type=email] {
        width: 90%;
        margin: 3px;
    }

    input[type=tel] {
        width: 90%;
        margin: 3px;
    }

    form textarea {
        width: 90%;
        margin: 3px;
    }

    input[type=submit] {
        margin-right: 10px;
    }
}