/* I figured we would do this in Grid? However I'm open to changing it to something else. I feel Grid is easier to move things around and to control where we want to put things. 

I'm starting out with the Mobile first design, probably the way he wants us to do it anyway.
yeah I really think mobile first design only applies when you are designing it, its kind of a pain when implementing.

I found a PDF that has the most popular phones and their viewports. So we can go off of that for creating the mobile design. Its called "MG_PopularScreenResolutions_Graph-3.pdf".

Bill pay will be ommited for now, I have no idea how we can really implement that in a meaningful way. 
*/

@font-face {
    font-family: plexreg;
    src: url(../fonts/plexreg.ttf);
}

@font-face {
    font-family: plexmed;
    src: url(../fonts/plexmed.ttf);
}

@font-face {
    font-family: plexbold;
    src: url(../fonts/plexbold.ttf);
}

@font-face {
    font-family: plexmedi;
    src: url(../fonts/plexmedi.ttf);
}

/* Body -------------------------------------------- */

*{
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

#head {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / span 2;
    color: #000;
    background-color: #fff;
}

#head img {
    background-size: contain;
    height: 100px;
    /* margin-top: 30px; */
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
}

#nav { 
    grid-column: 1 / span 2; 
    /* margin-top: 50px; */
    overflow: hidden;
}



.sticky {
    position: fixed;
    top: 0;
    width: 80%;
}

#menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 50px;
    background-color: rgba(0, 0, 0, 1);
    font-family: plexbold;
    font-size: 1.5em;
    justify-items: center;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #fff;
    justify-items: center;
    align-items: center;
    
}

li a:hover { background-color: #ed1c24; }

li.active a { color: rgb(19, 161, 10); }

#hero {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
}

#hero #heroPic {
    grid-column: 2;
    background-image: url("../images/picture1.png");
    background-repeat: no-repeat;
    background-size: 500px;
    height: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

#hero p {
    font-size: 1.5em;
    margin: 5px;
    padding-right: 20px;
    align-self: center;
    justify-self: center;
    color: #000;
    font-family: plexmedi;
    font-size: 40px;
}

#phone {
    grid-column: 1 / span 2;
    font-size: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ed1c24;
    padding: 80px;
}

#phone p {
    grid-column: 1;
    color: white;
    font-family: plexreg, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

#phone #p2 {
    font-size: 1.5em;
}

#p3 a {
    font-size: 40px;
    text-decoration: none;
    color: inherit;
}

#phone button {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 250px;
    height: 75px;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;

}

#body {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(200px, 250px)repeat(9, 1fr);
    height: 1500px;
    background-color: black;
    color: white;
}

#body h2 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    padding: 5px;
    margin-left: 95px;
    margin-top: 80px;
    font-family: plexmed, sans-serif;
}

#InstallDiv {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#body #installations {
    grid-column: 1;
    grid-row: 2;
    font-size: 24px;
    margin-left: 100px;
    font-family: plexreg, sans-serif;
    text-decoration: underline;
}

#body #picture1 {
    grid-column: 2;
    height: 300px;
}

#body #installs {
    grid-column: 1;
    grid-row: 2;
    font-family: plexreg, sans-serif;
    margin-top: 30px;
    margin-left: 100px;
}

#RemodelDiv {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#body #remodel {
    grid-column: 2;
    font-size: 24px;
    margin-left: 100px;
    margin-top: 20px;
    font-family: plexreg, sans-serif;
    text-decoration: underline;
}

#body #remodels {
    grid-column: 2;
    font-family: plexreg, sans-serif;
    margin-top: 50px;
    margin-left: 100px;
}

#tubfaucet {
    grid-column: 1;
    height: 300px;
    margin: auto;
}

#RepairDiv {
    grid-column: 1;
    grid-row: 4/6;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#body #reps {
    grid-row: 1;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 20px;
    font-family: plexreg, sans-serif;
    text-decoration: underline;
}

#body #repairs {
    grid-row: 1;
    font-family: plexreg, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
}

#body #wrenchpic {
    grid-row: 2;
    height: 300px;
    margin: auto;
}

#CommercialDiv {
    grid-column: 2;
    grid-row: 4/6;
    display: grid;
    grid-template: 1fr 1fr;
}

#body #ComRepair {
    grid-row: 2;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 20px;
    font-family: plexreg, sans-serif;
    text-decoration: underline;
}

#body #commercial {
    grid-row: 2;
    font-family: plexreg, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
}

#nobpic {
    grid-row: 1;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
}

/*


#body h2 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8em;
    padding: 5px;
    margin-left: 95px;
    margin-top: 80px;
    font-family: plexmed, sans-serif;
}

#body #installations {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.1em;
    margin-left: 100px;
    font-family: plexreg, sans-serif;
}

#body ul.services {
    list-style-type: circle;
    font-size: 1em;
    text-align: left;
    margin-left: 100px
}

#body #installs {
    grid-column: 1;
    grid-row: 2;
    
    font-family: plexreg, sans-serif;
}

#body #reps {
    grid-column: 1;
    grid-row: 4;
    margin-left: 100px;
}

#body #repairs {
    grid-column: 1;
    grid-row: 5;
    margin-left: 100px;
}

#body #picture1 {
    grid-column: 2;
    grid-row: 2 / span 2;
    background-image: url("../images/picture2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    margin: 20px;
}

#body #picture2 {
    grid-column: 1;
    grid-row: 4 / span 2;
    background-image: url("../images/picture3.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 10px;
}

#body #remodel {
    grid-column: 2;
    grid-row: 4;
}

#body #remodels {
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
}

#body #ComRepair {
    grid-column: 2;
    grid-row: 5;
}

#body #commercial {
    grid-column: 2;
    grid-row: 5;
    justify-self: center;
    align-self: flex-start;
    margin-top: 20px;
}

*/

#aboutus {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, minmax(100px, auto));
    background-color: #ed1c24;
}

#aboutus h2 {
    grid-column: 1;
    font-size: 1.8em;
    padding: 5px;
    margin-left: 100px;
    margin-top: 80px;
    color: white;
    font-family: plexmed, sans-serif;
}

#aboutus p {
    grid-column: 1/3;
    grid-row: 2 ;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    margin-left: 100px;
    width: 70%;
    align-self: center;
    color: white;
    font-family: plexreg, sans-serif;
}

#aboutus #picture3 {
    display: none;
    grid-column: 1;
    grid-row: 2 / span 2;
    background-image: url("../images/picture4.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 15px;
}

#contact {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto)) 5px;
    color: #000;
    background-color: #fff;
}

#contact h2.conH2 {
    font-size: 1.8em;
    margin-left: 100px;
    margin-top: 80px;
    font-family: plexmed, sans-serif;
}

#contact #cont {
    grid-column: 1;
    grid-row: 1;
}


#contact p {
    grid-row: 2;
    text-align: left;
    margin: 40px auto;
    width: 40%;
    font-family: plexreg, sans-serif;
}

#contact button {
    grid-column: 2;
    grid-row: 2;
    width: 150px;
    height: 45px;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #000;
}

#contact form {
    grid-column: 1 / span 2;
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, minmax(50px, auto));
}

form #name1 {
    grid-row: 1;
    font-size: 1.3em;
}

input[type=text] {
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 40px;
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
}

form #email1 {
    grid-column: 1;
    grid-row: 3;
    font-size: 1.3em;
    justify-self: center;
    align-self: center;
}

input[type=email] {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 40px;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
}

form #cell {
    grid-column: 1;
    grid-row: 5;
    font-size: 1.3em;
    justify-self: center;
    align-self: center;
}

input[type=tel] {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 40px;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
}

form #message1 {
    grid-column: 1;
    grid-row: 7;
    font-size: 1.3em;
    justify-self: center;
    align-self: center;
}

form textarea {
    grid-column: 1 / span 2;
    grid-row: 4;
    height: 130px;
    width: 30%;
    margin: 0;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    font-family: plexreg, sans-serif;
}

input[type=submit] {
    grid-row: 5;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 30px;
    justify-self: end;
    align-self: flex-end;
    font-family: plexreg, sans-serif;
    border-radius: 15px;
    background-color: white;
    border-color: black;
    border-width: 1px;
}

#footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer img {
    height: 50px;
    margin: 30px;
}

#footer p {
    color: white;
    grid-column: 2;
    justify-self: end;
    align-self: center;
    margin-top: 10px;
    margin-right: 10px; 
    font-family: plexreg, sans-serif;
}

@media only screen and (max-width: 912px) {
    #wrapper {
        width: 100%;
    }

    .sticky {
        width: 100%;
    }

    #tubfaucet {
        height: 200px;
    }

}

@media only screen and (max-width: 712px) {
    #wrapper {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 50% 50%;
        grid-auto-rows: minmax(100px, auto);
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        text-align: center;
        grid-auto-flow: row;
        width: 100%;
    }

    #head {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column: 1 / span 2;
        color: #000;
        background-color: #fff;
    }

    #head #logo {
        background-image: url("../images/logo_icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        margin-top: 20px;
        margin-left: 100px;
        grid-column: 1;
        grid-row: 1;
    }

    #head h1 {
        grid-column: 1; 
        grid-row: 1;
        font-size: 2em;
        justify-self: center;
        align-self: center;
        text-align: left;
    }

    #nav { grid-column: 1 / span 2; }

    #menu {
        list-style-type: none;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: 100px;
        background-color: rgba(0, 0, 0, 1);
        font-size: 1.5em;
        justify-items: center;
        align-items: center;
    }

    li a {
        text-decoration: none;
        color: #fff;
        justify-items: center;
        align-items: center;
        padding: 20px;
    }

    li a:hover { background-color: #ed1c24; }

    li.active a { color: rgb(19, 161, 10); }

    #hero {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #fff;
    }

    #hero #heroPic {
        grid-column: 2;
        background-image: url("../images/picture1.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 15px 0 15px 25px;
    }

    #hero p {
        font-size: 1.5em;
        margin: 5px;
        align-self: center;
        justify-self: center;
        color: #000;
    }

    #phone {
        grid-column: 1 / span 2;
        font-size: 1em;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #ed1c24;
        padding: 50px;
    }

    #phone p {
        grid-column: 1;
    }

    #phone #p2 {
        font-size: 1.5em;
    }

    #phone #p3 {
        font-size: 1.5em;
    }

    #phone a {
        grid-column: 2;
        grid-row: 1 / span 3;
        justify-self: center;
        align-self: center;
    }

    #phone button {
        width: 150px;
        height: 45px;
        border-radius: 50px;
        border: none;
        background-color: #fff;
    }

    #body {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, minmax(100px, auto) ) 10px;
        grid-row-gap: 20px;
        background-color: #000;
    }

    #body h2 {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.8em;
        padding: 5px;
        justify-self: center;
        align-self: center;
    }

    #body #installations {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.1em;
    }

    #body ul.services {
        list-style-type: circle;
        font-size: 1em;
        text-align: left;
    }
    
    #body #installs {
        grid-column: 1;
        grid-row: 2;
    }

    #body #reps {
        grid-column: 2;
        grid-row: 3;
        margin-top: 50px;
    }

    #body #repairs {
        grid-column: 2;
        grid-row: 3;
        justify-self: center;
        margin-top: 110px;
    }

    #body #wrenchpic {
        height: 200px;
    }

    #body #picture1 {
        grid-column: 2;
        grid-row: 2 / span 2;
        background-image: url("../images/picture2.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 20px;
    }

    #body #picture2 {
        grid-column: 1;
        grid-row: 4 / span 2;
        background-image: url("../images/picture3.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 10px;
    }

    #body #remodel {
        grid-column: 1;
        grid-row: 4;
        margin-top: 40px;
    }

    #body #remodels {
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
        margin-top: 80px;
    }

    #body #ComRepair {
        grid-column: 2;
        grid-row: 5;
    }

    #body #commercial {
        grid-column: 2;
        grid-row: 5;
        justify-self: center;
        align-self: flex-start;
        margin-top: 50px;
    }
    
    #tubfaucet {
        grid-column: 2;
        grid-row: 4;
        margin: 0;
        height: 150px;
        justify-self: center;
        align-self: center;
    }

    #nobpic {
        grid-column: 1;
        grid-row: 5;
        height: 300px;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    #aboutus {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, minmax(100px, auto));
        background-color: #ed1c24;
    }

    #aboutus h2 {
        grid-column: 1;
        font-size: 1.8em;
        padding: 5px;
        justify-self: center;
        align-self: center;
    }

    #aboutus p {
        grid-column: 2;
        grid-row: 2 ;
        font-size: 1em;
        padding: 5px;
        margin: 5px;
        justify-self: center;
        align-self: center;
    }

    #aboutus #pictureofclient {
        grid-column: 1;
        grid-row: 2 / span 2;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: contain;
        height: 150px;
        margin: 15px;
    }

    #contact {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, minmax(100px, auto)) 15px;;
        color: #000;
        background-color: #fff;
    }

    #contact h2.conH2 {
        font-size: 1.8em;
        margin: 5px;
        justify-self: center;
        align-self: center;
    }

    #contact #cont {
        grid-column: 1;
        grid-row: 1;
    }

    #contact #bill {
        grid-column: 2;
        grid-row: 1;
    }

    #contact p {
        grid-column: span 2;
        grid-row: 2;
        text-align: left;
        margin: 4px;
        width: 50%;
        justify-self: center;
        align-self: center;
    }

    #contact button {
        grid-column: 2;
        grid-row: 2;
        width: 150px;
        height: 45px;
        justify-self: center;
        align-self: center;
        border-radius: 50px;
        border: none;
        color: #fff;
        background-color: #000;
    }

    #contact form {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, minmax(50px, auto));
    }

    /* form #name1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    input[type=text] {
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 40px;
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }

    /* form #email1 {
        grid-column: 1;
        grid-row: 3;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    input[type=email] {
        grid-column: 1 / span 2;
        grid-row: 2;
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 40px;
        justify-self: center;
        align-self: center;
    }

    /* form #cell {
        grid-column: 1;
        grid-row: 5;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    input[type=tel] {
        grid-column: 1 / span 2;
        grid-row: 3;
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 40px;
        justify-self: center;
        align-self: center;
    }

    /* form #message1 {
        grid-column: 1;
        grid-row: 7;
        font-size: 1.3em;
        justify-self: center;
        align-self: center;
    } */

    form textarea {
        grid-column: 1 / span 2;
        grid-row: 4;
        height: 130px;
        width: 80%;
        margin: 8px;
        justify-self: center;
        align-self: center;
    }

    input[type=submit] {
        grid-column: 2;
        grid-row: 5;
        background-color: rgba(0, 0, 0, 0.1);
        width: 30%;
        justify-self: end;
        align-self: flex-end;
    }

    #footer {
        grid-column: 1 / span 2;
    }

}